* {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}


.table {
    position: relative;
    background: #ad9b9b;
    color: #ffffff;
    text-align: center;
    margin-left: 100px;
}
.table::before,
.table::after {
    content: '';
    z-index: -1;
    border-radius: 5px;
    position: absolute;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    top: -2px;
    left: -2px;
    background: linear-gradient(45deg,
    #fc0090, #0000ff, #00ff00, #ff0000, #ffff00,
    #fc0090, #0000ff, #00ff00, #ff0000, #ffff00
    );
    background-size: 300%;
    animation: border 20s linear infinite;
}

.table::after {
    filter: blur(30px);
}


@keyframes border {

    0%, 100% {
        background-position: 0 0;
    }

    50% {
        background-position: 300%;
    }
    
}


