.card{
    box-shadow: 0 6px 10px rgba(0, 0, 0, .08) 0 6px 10px rgba(0, 0, 0, .05);
    transition: .3 ease-in;
    cursor:pointer;
}

.borders_b{
    border-bottom: 5px solid darkblue;
    border-radius: 5px;
}
.card:hover {
    transform:scale(1.05);
}


.borders_y{
    border-bottom: 5px solid rgb(220, 94, 31);
    border-radius: 5px;
}

.borders_c{
    border-bottom: 5px solid rgb(18, 196, 227);
    border-radius: 5px;
}