.cards{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.signin{
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
.backGround{
    height: 100vh;
    width: 100%;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 3px solid black;
  }

  input[type="password"] {
    background: none;
    border: none;
    border-bottom: 3px solid black;
  }

  input[type="email"]{
    background: none;
    border: none;
    border-bottom: 3px solid black;
  }

  label{
    position: absolute;
    padding: 8px;
    color: black;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
}

.toggle{
    color: black;
}

.text{
    color: black;
    font-weight: bolder;
}

.button{
    border: 2px solid black ;
    position: relative;
    width: 120px;
    padding: 2px;
    font-weight: bold;
    background: none;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    transition: 1s;
}

.button:hover{
    box-shadow: 0 3px 3px 0 black inset, 0 5px 5px 0 black;
}

.user_icon{
    color: black;
}

.container{
    color: black;
}

.social_icon{
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}