.cards{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
}

.signin{
    border: 2px solid black;
    padding: 30px;
    border-radius: 20px;
    color: white;
    box-shadow: 0 5px 5px 0 black inset, 0 5px 5px 0 black;
}

*{
    margin: 0;
    padding: 0;
}
.backGround{
    height: 100vh;
    width: 100%;
    overflow: hidden;
}

video{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

input[type="text"] {
    background: transparent;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 5px;
    height: 30px;
    width: 250px;
  }

  input[type="password"] {
    background: none;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 5px;
    height: 30px;
    width: 250px;
  }

  input[type="email"]{
    background: none;
    border: none;
    border-bottom: 3px solid black;
    border-radius: 5px;
    height: 30px;
    width: 250px;
  }

  input::placeholder{
    color: rgb(14, 13, 13);
    font-weight: bold;
    padding-left: 10px;
  }

.toggle{
    color: black;
    cursor: pointer;
}

.text{
    color: black;
    font-weight: bolder;
}

.button{
    border: 2px solid black ;
    position: relative;
    width: 120px;
    padding: 2px;
    font-weight: bold;
    background: none;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    transition: 1s;
    box-shadow: 0 3px 3px 0 black inset, 0 3px 3px 0 black;
}

.user_icon{
    color: black;
}

.container{
    color: black;
}

.social_icon{
    margin-left: 10px;
    margin-top: 5px;
    cursor: pointer;
}

.dropdown{
    display: flex;
    color: black;
    font-weight: bold;
}
.usertype{
    border-bottom: 3px solid black ;
    position: relative;
    width: 90px;
    padding: 2px;
    border-radius: 5px;
}
